<%- include("partials/header.ejs") %>

<div class="container py-5">
<h1><strong>About BlinkBlog</strong></h1>

<hr>
<h4> <strong>Our Vision</strong> </h4>
<p>At Blink Blog, we believe that the essence of storytelling lies in the moment of sharing, in the fleeting exchange of thoughts, and in the beauty of impermanence. We've created a platform where you can pour your heart out, knowing that your stories are like shooting stars - they light up the sky for a brief moment, leaving a lasting impression. Join us in celebrating the ephemerality of life, where every post is a blink, and every blink is a chance to connect, reflect, and resonate.</p>
<hr>
</div>


<%- include("partials/footer.ejs") %>