<%- include("partials/header.ejs") %>

<div class="container py-5">
    <h1><strong>Contact Us!</strong></h1>
    
    <hr>
    <h4> <strong>We Are Here to Help</strong> </h4>
    <p>If you have any questions or concerns, or if you just want to get in touch, email us at <a href="mailto:">sample@email.com</a></p>
    <hr>
    </div>

<%- include("partials/footer.ejs") %>